<img src="assets/images/spicesand.jpg">

<img src="assets/images/14305d_f88f995cbe8d49d9b812db6db8a48c1f_mv2.gif" width="100%">
<h2>Explore Spices&Herbs A-Z</h2>
 
<div class="container">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="card-columns">
  <div class="card h-100">
    <img class="card-img-top" src="assets/images/s1.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/spices"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>

<div class="card h-100">
    <img class="card-img-top" src="assets/images/s2.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/spices"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>
  <div class="card h-100">
    <img class="card-img-top" src="assets/images/s3.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/spices"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>
  <div class="card h-100">
    <img class="card-img-top" src="assets/images/s4.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/spices"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>


  <div class="card h-100">
    <img class="card-img-top" src="assets/images/s5.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/spices"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>


  <div class="card h-100">
    <img class="card-img-top" src="assets/images/s6.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/spices"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>




