<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="container2">
      <a href="https://www.facebook.com/worldspicemerchants/" target="_blank"><i class="fa fa-facebook-official"></i></a>
      <a href="https://www.instagram.com/world.spice/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/worldspicemerch?lang=en" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCLRedS-ZbNTa2fZXelMFeSQ" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
  
