<img src="../../assets/images/gifts.JPG">
<h2>Explore gift sets A-Z</h2>
 
<div class="container">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="card-columns">
  <div class="card h-100">
    <img class="card-img-top" src="../../assets/images/g1.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/gifts"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>

<div class="card h-100">
    <img class="card-img-top" src="../../assets/images/g2.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/gifts"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>
  <div class="card h-100">
    <img class="card-img-top" src="../../assets/images/g3.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/gifts"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>

  <div class="card h-100">
    <img class="card-img-top" src="../../assets/images/g4.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/gifts"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>
  <div class="card h-100">
    <img class="card-img-top" src="../../assets/images/g5.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/gifts"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>
  <div class="card h-100">
    <img class="card-img-top" src="../../assets/images/g6.JPG" alt="Card image" style="width:100%" height="100%">

    <a href="https://www.worldspice.com/gifts"  target="_blank" class="btn btn-primary">click for more info</a>
  </div>
